@import url('https://fonts.googleapis.com/css?family=JetBrains%20Mono:700|JetBrains%20Mono:400');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "JetBrains Mono", sans-serif;
}


:root {
    --text: #E6E8E6;
    --background: #010A01;
    --background-light: hsl(0, 0%, 5%);
    --primary: #339989;
    --secondary: #c6c6c6;
    --accent: #06A77D;
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--text);
    background-color: var(--background);
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

/* Designing the Loader */
/* .load-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.loader {
    height: 100px;
    width: 100px;
    background-color: var(--text);
    position: relative;
    overflow: hidden;
    animation: rotate 3s ease-in infinite;
}

.loader:nth-child(2) {
    animation-direction: reverse;
}

.loader::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--accent);
    transform: translateY(100%);
    animation: slide-in 3s ease-in infinite alternate;
}

@keyframes slide-in {
    to {
        transform: translateY(0);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(360deg);
    }
} */



/* Designing the navbar */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000000;
}

.navbar-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding: 10px; */
    /* border-bottom: 1px solid var(--primary); */
    background-color: var(--background);
    padding-block: 15px;
    font-size: 1.2rem;
}

.navbar ul {
    display: flex;
    gap: 40px;
}

.navbar ul li {
    list-style: none;
    outline: none;
}

.navbar ul li a {
    text-decoration: none;
    color: var(--text);
    transition: color 0.3s ease-in;
    position: relative;
    outline: none;
}

.navbar ul li a::before {
    content: '';
    position: absolute;
    left: 0;
    top: 115%;
    width: 100%;
    height: 1px;
    background-color: var(--text);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.2s ease-in;
}

.navbar ul li a:hover,
.navbar ul li a:focus {
    color: var(--accent);
}

.navbar ul li a:hover::before,
.navbar ul li a:focus::before {
    transform-origin: left;
    transform: scaleX(1);
}

.logo span {
    color: var(--accent);
}

.socials {
    display: flex;
    gap: 20px;
}

.socials a {
    text-decoration: none;
    color: var(--text);
}

.socials a i {
    font-size: 1.5rem;
    transition: all 0.2s ease-in-out;
}

.socials a:hover i {
    color: var(--accent);
}



/* home section */
main.home {
    height: 85vh;
    width: 100%;
}

.home-container {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    width: 100%;
    height: 100%;
    /* background-color: ; */
    position: relative;
}

.content {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 200px;
    align-items: center;
    width: 100%;
    line-height: 80px;
}

.heading {
    font-size: 3.8rem;
}

.heading span {
    color: var(--accent);
}

.des {
    font-size: 1.7rem;
}

.des span {
    color: var(--secondary);
}

.image-section {
    z-index: -1;
}

.image-section img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10000vw;
}




/* about section design */
.section {
    margin-top: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 110px;
    align-items: center;
}

.section-heading {
    font-size: 3rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-heading::before,
.section-heading::after {
    content: '';
    position: absolute;
    width: 250px;
    height: 5px;
    background-color: var(--primary);
    transition: 0.3s ease-in-out;
}

.section-heading::before {
    left: 0;
    transform: translateX(-150%);
}

.section-heading::after {
    right: 0;
    transform: translateX(150%);
}

.about-subsection {
    display: flex;
    /* max-width: 80%; */
    gap: 150px;
    margin-inline: 200px;
    /* justify-content: space-around; */
    align-items: flex-start;
}

.about-image img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
}

.about-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    line-height: 40px;
}

.about-text .heading {
    font-size: 2rem;
    color: var(--accent);
}

.about-text .des {
    font-size: 1rem;
}

.skills-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    line-height: 23px;
}

.skill {
    position: relative;
    color: var(--primary);
    font-weight: 800;
}

.skill::before,
.skill::after {
    content: '';
    position: absolute;
    height: 10px;
    background-color: var(--accent);
    transition: 0.3s ease-in-out;
    border-radius: 100vw;
}

.skill::before {
    top: 50%;
    left: 50px;
    width: 90%;
    transform: translateY(-50%);
}

.skill::after {
    top: 50%;
    left: 50px;
    transform: translateY(-50%) scaleX(0);
    transform-origin: left;
    background-color: #fff;
    animation: grow ease-in-out forwards;
}

.skill-html::after {
    width: 86%;
    animation-duration: 3s;
}

.skill-css::after {
    width: 79%;
    animation-duration: 2.5s;
}

.skill-js::after {
    width: 16%;
    animation-duration: 2s;
}

@keyframes grow {
    to {
        transform: translateY(-50%) scaleX(1);
    }
}

.journey-link {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--text);
}

.journey-link .text {
    text-decoration: underline;
}

.journey-link span {
    color: var(--accent);
    transition: transform 0.3s ease-in-out;
}

.journey-link:hover span {
    transform: translateX(3px) translateY(-3px);
}



.projects-section {
    gap: 90px;
}

.projects-subsection {
    display: flex;
    flex-direction: column;
    margin-inline: 200px;
    line-height: 40px;
    text-align: center;
}

.project-card-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 105px;
    width: 70%;
    margin-inline: auto;
}

.project-card {
    display: flex;
    gap: 20px;
    color: var(--text);
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.project-img img {
    width: 200px;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid var(--accent);
}

.project-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.project-text .header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-text .header-left {
    display: flex;
    align-items: center;
    gap: 5px;
}

.header-left span {
    transition: transform 0.3s ease-in-out;
}

.project-card:hover .header-left span {
    transform: translateX(3px) translateY(-3px);
}

.project-card:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.proj-heading {
    font-size: 1.5rem;
    color: var(--accent);
    font-weight: 800;
}

.proj-des {
    font-size: 1rem;
    color: var(--text);
    text-align: left;
    line-height: 25px;
}

.proj-type {
    display: flex;
    align-items: center;
    gap: 25px;
}

.proj-type .type {
    background-color: var(--secondary);
    color: var(--background);
    padding-inline: 10px;
    border-radius: 7px;
}




.journey-subsection {
    margin-inline: 200px;
    display: flex;
    flex-direction: column;
    gap: 105px;
}

.journey-des {
    text-align: center;
    line-height: 40px;
}

.timeline-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.timeline-container::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: var(--accent);
    top: 100%;
    left: 0;
}

.timeline-item {
    display: flex;
    flex-direction: column;
}

.timeline-header {
    display: flex;
    gap: 50px;
    padding-bottom: 15px;
    border-bottom: 2px solid var(--accent);
}



























.bottom-box {
    width: 100%;
    height: 900px;
}





::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track {
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary);
}